 {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script
      src="https://kit.fontawesome.com/bcc7e27234.js"
      crossorigin="anonymous"
    ></script>
    <!-- <link rel="stylesheet" href="{% static 'css/navbar.css' %}" /> -->
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <title>Student Dashboard</title>
  </head>

  <body>
    <div class="container">
      <div class="topbar">
        <div class="logo">
          <h2>Placement <span>Buddy</span></h2>
        </div>
        <div class="greet">
          <h3><a href="{%url 'profileupdate'%}" style="text-decoration: none;color: black;">{{user.username}}</a></h3>
        </div>
      </div>
      <div class="sidebar">
        <div class="sidebar_main">
          <ul>
            <li>
              <a href="{%url 'dashboard'%}" title="Homepage">
                <i class="fas fa-home dash"></i>
              </a>
            </li>
            <li>
              <a href="{%url 'experiencelist'%}" title="Experience">
                <i class="fa-solid fa-magnifying-glass dash"></i>
              </a>
            </li>
            <li>
              <a href="{%url 'writeExperience' %}" title="Post Experience">
                <i class="fa-solid fa-pencil dash"></i>
              </a>
            </li>
            <li>
              <a href="{%url 'index' %}" title="Statistics">
                <i class="fa-sharp fa-solid fa-chart-simple dash"></i>
              </a>
            </li>
            <li>
              <a href="{%url 'resources' %}" title="Resources">
                <i class="fas fa-hand-holding-usd"></i>
              </a>
            </li>
            <li>
              <a href="{%url 'showdrive'%}" title="Drives">
                <i class="fas fa-cog"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main">
        <div class="container1">
          <div class="subcont11">
            <h2>Welcome To The Placement Buddy</h2>
            <p>Placement Buddy is your one stop destination for placements at NIT Hamirpur. Here you will get all the facilities regarding placement. It gives you information of placement drives, previous placement statistics, previous interview experiences, placement preparation material, resume preparation. You can register yourself and gear up for the placement season.</p>
          </div>
          <div class="subcont12">
            <img src="{%static '/images/21.jpg' %}" alt="Picture" id="container1_image" />
          </div>
        </div>
        <div class="container3">
          <div class="subcont31">
            <img src="{%static '/images/interview.png' %}" alt="Picture" id="container3_image" />
          </div>
          <div class="subcont32">
            <h2>Share Your Interivew Experience With Your Juniors</h2>
            <p>
              The interviews of one candidate surely helps in the interview of other. How? The interview experience helps the other candidate what to do, what not to do and how to do. So here are the previous interview experiences of candidates which you can use to better yourself.

            </p>
          </div>
        </div>
        <div class="container4">
          <div class="subcont41">
            <h2>Presentation of Statistics of Previous Year Placements</h2>
            <p>
              Are you a numbers person? Here is your stop to see the statistics of the previous and current placement season. You can see how many students placed of the different branches, the mean and median package.

            </p>
          </div>
          <div class="subcont42">
            <img src="{%static '/images/stat.jpg' %}" alt="Picture" id="container4_image" />
          </div>
        </div>
        <div class="container5">
          <div class="subcont51">
            <img src="{%static '/images/resources.jpg' %}" alt="Picture" id="container5_image" />
          </div>
          <div class="subcont52">
            <h2>Resources Oriented To Placement Preparation</h2>
            <p>
              Stuck in you placement prep? Don’t know what to study and from where, we present to you curated lists of various subjects, topics, domains asked in the interview. Be it DSA, CN, OOPS, DBMS, System Design, frequently asked problems. 
            </p>
          </div>
        </div>
        <div class="container6">
          <div class="subcont61">
            <h2>List of Upcoming Campus Drives</h2>
            <p>
              This section gives you the information of upcoming companies, their CTC, CGPI cutoffs. It gives you the benefit of managing your time to prepare for them and gather enough information about them.
            </p>
          </div>
          <div class="subcont62">
            <img src="{% static '/images/upcoming_drive.jpg' %}" alt="Picture" id="container5_image" />
          </div>
        </div>
        <div class="footer">
          <div>All rights reserved.</div>
        </div>
      </div>
    </div>
    
  </body>
</html>

