{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <script
      src="https://kit.fontawesome.com/bcc7e27234.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{%static 'css/profile_page.css'%}" />
  </head>
  <body>
    
     <div class="info_division">
      <h2>Update Profile</h2>
      <hr id="update_line" />
      <form action="{% url 'profileupdate'  %}" method="post">
        {%csrf_token%}
        <div class="group">
          <label for="username">Username</label>
          <input
            type="text"
            name="User_Name"
            id="username"
            maxlength="50"
            value= {{user.username}}
            readonly
          />
        </div>
        <div class="group">
          <label for="fname">First Name</label>
          <!-- <input
            type="text"
            name="First_Name"
            id="fname"
            maxlength="50"
          /> -->
          {{form.fname}}
        </div>
        <div class="group">
          <label for="mname">Middle Name</label>
          <!-- <input
            type="text"
            name="Middle"
            id="mname"
            maxlength="50"
          /> -->
          {{form.mname}}
        </div>

        <div class="group">
          <label for="lname">Last Name</label>
          <!-- <input
            type="text"
            name="Last_Name"
            id="lname"
            maxlength="50"
          /> -->
          {{form.lname}}
        </div>
        <div class="group">
          <label for="rollno">Roll No</label>
          <!-- <input
            type="text"
            name="Roll_No"
            id="rollno"
            maxlength="10"
          /> -->
          {{form.roll}}
        </div>
        <div class="group">
          <label for="branch">Branch</label>
          <!-- <select id="branch" name="Branch">
            <option value="No_Branch" selected>Select Your Branch</option>
            <option value="Architecture">Architecture</option>
            <option value="Chemical Engineering">Chemical Engineering</option>
            <option value="Civil Engineering">Civil Engineering</option>
            <option value="Computer Science and Engineering">Computer Science and Engineering(B.Tech)</option>
            <option value="Computer Science and Engineering">Computer Science and Engineering (Dual Degree)</option>
            <option value="Electrical and Electronics Engineering">Electrical Engineering</option>
            <option value="Electronics and Communication Engineering">Electronics and Communication Engineering</option>
            <option value="Electronics and Communication Engineering">Electronics and Communication Engineering (Dual Degree)</option>
            <option value="Mechanical Engineering">Mechanical Engineering</option>
            <option value="Material Science">Material Science</option>
            <option value="Mathematics and Computing">Mathematics and Computing</option>  
           </select>
            <label for="branch">Branch</label>
           <input
            type="text"
            name="Branch"
            id="branch"
            value=""
            maxlength="10"
          />   -->
          {{form.branch}}
        </div> 
        <div class="group">
          <label for="phoneno">Contact No</label>
          <!-- <input
            type="tel"
            name="Phone_No"
            id="phoneno"
            maxlength="10"
          /> -->
          {{form.phone}}
         </div>
         <!-- <div class="group">
          <label for="pass1">Password</label>
          <input
            type="password"
            name="password"
            id="pass1"
            maxlength="50"
          />

          <input type="checkbox" onclick="showpass()" id="checkbx" /> Show
          Password
        </div>
        <div class="group">
          <label for="pass2">Confirm Password</label>
          <input
            type="password"
            name="password"
            id="pass2"
            maxlength="50"
          />
        </div> --> 
         <div class="group">
          <label for="email1">E-mail</label>
          <!-- <input
            type="email"
            name="Email"
            id="email1"
            maxlength="100"
          /> -->
          {{form.email}}
        </div>
        <input id="button" type="submit" value="Update Info" />
      </form>
    </div>
    <!--<script>
      function showpass() {
        var x = document.getElementById("pass1");
        var y = document.getElementById("pass2");

        if ((x.type && y.type) === "password") {
          x.type = "text";
          y.type = "text";
        } else {
          x.type = "password";
          y.type = "password";
        }
      }
    </script>
  -->
  </body>
</html>