* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#6C63FF;
}
div{
    padding: 10px;
    margin: 10px 10px;
    
}
div h1{
    font-size: 4vmin;
    padding: 10px;
    color: black;
    text-align: center;
    
}
div h2{
    font-size: 3vmin;
    padding: 20px;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form_section{
    display: flex;
    justify-content: center;
}
form{
    padding: 50px;
    margin: 10px;
    align-items: center;
    display: inline-block;
    background-color:white;
    /* border:3px solid #01e0ff; */
    border-radius: 10px;
    box-shadow: white;
}
form label{
    font-size: 2.4vmin;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form input{
    font-size: 2.2vmin;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

form input:focus {
    outline-color: #6C63FF;

}
form input::selection{
    accent-color: #6C63FF;
}
form textarea{
    padding: 5px;
    margin: 10px;
    font-size: 2vmin;
   
}
form textarea:focus{
    outline-color: #6C63FF;
}
.submit_button,.reset_button{
    color: white;
    border-style: none;
    border-radius: 5px;
    padding:6px 10px;
}
.submit_button{
    background-color: white;
    border: 2px solid #6C63FF;
    color: #6C63FF;
    
}
.reset_button{
    background-color: white;
    color: #6C63FF;
    border: 2px solid #6C63FF;
}
.submit_button:hover{
    background-color: #6C63FF;
    /* border: 2px solid #01c2db; */
    color: white;

}
.reset_button:hover{
    background-color: #6C63FF;
    color: white;
}
.radio_button_color{
    accent-color: #6C63FF;
}