* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topbar {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
  padding: 0 5px;
  height: 60px;
  display: grid;
  grid-template-columns: 10fr 10fr;
  align-items: center;
  z-index: 1;
  border-bottom: 2px solid #aee0ff;
}


.logo h2 {
  font-size: 3vmin;
  display: inline-block;
  color:#b70101;
  text-shadow: 1px 1px #02263c;
}
.logo h2 > span{
  color: #02263c;
  text-shadow: 1px 1px #b70101;
}
div.greet{
  color: #02263c;
  text-align: right;
  padding: 5px;
  margin: 5px;

  float: right;
}


/* sidebar */
.sidebar_main {
  position: fixed;
  top: 25%;
  left: -10px;
  width: 90px;
  /* height: calc(100% - 60px); */
  height: 410px;
  /* border: 1px solid rgb(72, 72, 72); */
  border-radius: 5px;
  background:#ababab00;
  padding: 5px;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.175);
  z-index: 1;
  overflow: hidden;
  
}

.sidebar_main ul {
  margin-top: 5px;
  margin: 10px;
}

.sidebar_main ul li {
  background-color:#006eb3;
  border-radius: 10px;
  margin: 5px;
  width: 100%;
  margin-right: 5px;
  list-style: none;
}

.sidebar_main ul li:hover {
  background:#6f0000;
}

.sidebar_main ul li:hover a {
  color: #b70101;
}

.sidebar_main ul li a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
}

.sidebar_main ul li a i {
  color: white;
  min-width: 60px;
  font-size: 24px;
  text-align: center;
}


/* main */

.main {
  position: absolute;
  top: 60px;
  width: calc(100% - 20px);
  left: 20px;
  background: white;
  padding: 20px;
}
.main > .container1{
  display: grid;
  grid-template-columns: 6fr 3fr;
  padding: 10px;
  width: 100%;
  height: 60vh;
  background-color: white;
  border-bottom: 2px solid #eae7e7;
}
.main .container1 .subcont11 h2{
  margin-top: 50px;
  color: black;
  font-size: 3.0rem;
  padding: 0px;
  text-align:center;
  /*text-shadow: 2px 2px 0px #006ca6;*/
}
.main .container1 .subcont11 p{
  color: rgb(120, 120, 120);
  font-size: 1.2rem;
  padding-left: 80px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0px;
}
.main .container1 .subcont12{
  margin: auto;
  padding: 20px;
}
#container1_image{
  margin: auto auto;
  max-width: 400px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
  height: auto;

}

.main .container3{
  display: grid;
  grid-template-columns: 3fr 6fr;
  padding: 10px;
  width: 100%;
  height: 60vh;
  border-bottom: 2px solid #eae7e7;
}

.main .container3 .subcont32 h2{
  margin-top: 50px;
  color: black;
  font-size: 3.0rem;
  padding: 0px;
  text-align:center;
  padding: 40px;
  padding-bottom: 40px;

}
.main .container3 .subcont32 p{
  color: rgb(120, 120, 120);
  font-size: 1.2rem;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0px;
  
}
.main .container3 .subcont31{
  margin: auto;
  padding: 20px;
}
#container3_image{
  margin: auto auto;
  max-width: 400px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
  height: auto;
}

/* Container 4 */
.main .container4{
  display: grid;
  grid-template-columns: 6fr 3fr;
  width: 100%;
  height: 60vh;
  border-bottom: 2px solid #eae7e7;
}
.main .container4 .subcont41 h2{
  margin-top: 50px;
  color: black;
  font-size: 3.0rem;
  padding: 0px;
  text-align:center;
  
}
.main .container4 .subcont41 p{
  color: rgb(120, 120, 120);
  font-size: 1.2rem;
  padding-left: 80px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0px;

}
.main .container4 .subcont42{
  margin: auto;
  padding: 20px;
}
#container4_image{
  margin: auto auto;
  max-width: 400px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
  height: auto;
}

/* Container 5 */
.main .container5{
  display: grid;
  grid-template-columns: 3fr 6fr;
  padding: 10px;
  width: 100%;
  height: 60vh;
  border-bottom: 2px solid #eae7e7;
}

.main .container5 .subcont52 h2{
  margin-top: 50px;
  color: black;
  font-size: 3.0rem;
  padding: 0px;
  text-align:center;

  
}
.main .container5 .subcont52 p{
  color: rgb(120, 120, 120);
  font-size: 1.2rem;
  padding-right: 80px;
  font-weight: bold;
  text-align: center;
  margin: 30px 0px;
  
}
.main .container5 .subcont51{
  margin: auto;
  padding: 20px;
}
#container5_image{
  margin: auto auto;
  max-width: 400px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
  height: auto;
}


/* Container 6 */
.main .container6{
  display: grid;
  grid-template-columns: 6fr 3fr;
  width: 100%;
  height: 60vh;
  border-bottom: 2px solid #eae7e7;
}
.main .container6 .subcont61 h2{
  margin-top: 50px;
  color: black;
  font-size: 3.0rem;
  padding: 0px;
  margin-left: 40px;
  text-align:center;

}
.main .container6 .subcont61 p{
  color: rgb(120, 120, 120);
  font-size: 1.2rem;
  padding-left: 80px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0px;

}
.main .container6 .subcont62{
  margin: auto;
  padding: 20px;
}
#container6_image{
  margin: auto auto;
  max-width: 400px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
  height: auto;
}

/* Footer */
.footer{
  text-align: center;
  width: 100%;
  color: white;
  padding: 20px;
  background-color:#001d2f;
  min-height: 5vh;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
/* ----------------------------------------- */
/* ---------------- Media Query -------------- */
@media (max-width:1272px){
  
  .container1 .subcont11{
    
  }
  .main .container1 .subcont12{
    
  }
  
}




@media (max-width:1115px) {
  .sidebar {
      width: 60px;
  }
  .main {
      width: calc(100% - 60px);
      left: 60px;
  }
}

@media (max-width:880px) {
  /* .topbar {
      grid-template-columns: 1.6fr 6fr 0.4fr 1fr;
  } */
  .fa-bell {
      justify-self: left;
  }
  .cards {
      width: 100%;
      padding: 35px 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
  }
  .charts {
      grid-template-columns: 1fr;
  }
  .doughnut-chart {
      padding: 50px;
  }
  #doughnut {
      padding: 50px;
  }
}

@media (max-width:500px) {
  .topbar {
      grid-template-columns: 1fr 5fr 0.4fr 1fr;
  }
  .logo h2 {
      font-size: 20px;
  }
  .search {
      width: 80%;
  }
  .search input {
      padding: 0 20px;
  }
  .fa-bell {
      margin-right: 5px;
  }
  .cards {
      grid-template-columns: 1fr;
  }
  .doughnut-chart {
      padding: 10px;
  }
  #doughnut {
      padding: 0px;
  }
  .user {
      width: 40px;
      height: 40px;
  }
}