.discription{
    background-color: #A084CA;
    float: left;
    width: 40%;
    height: 783px;
    }
    
    .login{
      background-color: #EBC7E8;
      float: right;
      width: 60%;
      height: 100vh;
      
    }